body {
    background-color: #5C2638;
    background-image: url(../backgrounds/Background1.jpg);
    background-size: cover;
    background-position-x: center;
    color: #ffecf1;
    font-family: "gowun-batang", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0;
}

p {
    width: 60%;
    margin-left: 10%;
    margin-right: 30%;
    padding-bottom: 40px;
}

p:nth-of-type(even) {
    width: 60%;
    margin-right: 10%;
    margin-left: 30%;
}

a {
    text-decoration: none;
    color: white;
    font-family: "gowun-batang", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    padding: 40px;
}
a {
    text-decoration: none;
    color: #5C2638;
    text-shadow: 0px 0px 10px #E2CCA5;
    font-family: "gowun-batang", sans-serif;
    font-weight: 700;
    font-style: bold;
    display: block;
    height: 400;
    width: 300;
    z-index: 1;
}

header {
    margin: auto;
    max-width: 800px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}
header a {
    color: white;
    text-shadow: none;
    font-weight: 400;

}

footer {
    font-size: 1rem;
    margin-top: 30px;
    background-color: #7A8269;
    padding-top: 25px;
    margin-bottom: 25px;
}

header button {
    width: 30%;
    font-size: 1.2rem;
    border: 0;
    background-color: transparent;
    transition: 0.25s;
    height: 50px;
}

header button:hover {
    width: 30%;
    font-size: 1.4rem;
    border: 0;
    background-color: transparent;
    transition: 0.25s;
    height: 40px;
}


section {
    max-width: 900px;
    text-align: left;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

h1 {
    font-size: 12rem;
    font-family: "gowun-batang", sans-serif;
    font-weight: 400;
    margin-top: 100px;
    color: white;
}
.utensils h1 {
    font-size: 6rem;
}
.types h1 {
    font-size: 6rem;
}

.types button.explore {
    display: inline;
    width: 40%;
    font-size: 2.2rem;
    padding: 40px;
    margin: 20px;
}

.types button.explore:hover {
    font-size: 2.5rem;
    transition: 0.5s;
    padding-bottom: 50px;
    padding-top: 50px;
    background-position: center;
}

button.explore {
    background-color: #7A8269;
    border: none;
    border-color: none;
    border-radius: 15px;
    width: 45%;
    font-size: 2.2rem;
    margin: 1.5%;
}

#types {
    background-image: url(../images/typesbutton.jpg);    
    background-size: cover;
    transition: 0.5s;
}
#types:hover {
    font-size: 2.5rem;
    transition: 0.5s;
    padding-bottom: 50px;
    padding-top: 50px;
}

#utensils {
    background-image: url(../images/utensilsbutton.jpg);    
    background-size: cover;
    transition: 0.5s;
}
#utensils:hover {
    font-size: 2.5rem;
    transition: 0.5s;
    padding-bottom: 50px;
    padding-top: 50px;
}

#steamed {
    background-image: url(../images/steamedbutton.jpg);    
    background-size: cover;
    transition: 0.5s;
}
#pounded {
    background-image: url(../images/poundedbutton.jpg);    
    background-size: cover;
    transition: 0.5s;
}
#shaped {
    background-image: url(../images/shapedbutton.jpg);    
    background-size: cover;
    transition: 0.5s;
}
#panfried {
    background-image: url(../images/panfriedbutton.jpg);    
    background-size: cover;
    transition: 0.5s;
}


li {
    display: inline-flex;
    width: 40%;
    padding: 20px;
    padding-bottom: 30px;
    margin: 10px;
    height: 140px;
    background-color: #7A8269;
    border-radius: 15px;
    font-size: 1rem;

}
li img {
    padding-top: 9px;
    padding-left: 12px;
    padding-right: 25px;
    border-radius: 10px;
}

footer a {
    font-size: 1rem;
    margin-top: 30px;
    background-color: #7A8269;
    padding: 0;
    color: #E2CCA5;
    text-shadow: none;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 850px) {
    body {
        font-size: 18px;
    }
    section {
        max-width: 500px;
        text-align: left;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    h1 {
        font-size: 7rem;
        margin-top: 100px;
        text-align: center;
    }

    p{
        width: 80%;
        padding-bottom: 40px;
        margin: auto;
    }
    p:nth-of-type(even){
        width: 80%;
        margin: auto;
    }

    button.explore {
        width: 100%;
        font-size: 1.8rem;
        padding: 15px;
        margin: auto;
        margin-bottom: 30px;
    }
    .types button.explore {
        display: inline;
        background-color: #7A8269;
        border: solid;
        border-color: #7A8269;
        border-radius: 10%;
        width: 70%;
        font-size: 1.8rem;
        padding: 20px;
        margin: 15px;
        margin-left: 15%;
        margin-right: 15%;
    }
    li {
        display: inline-flex;
        width: 80%;
        padding: 20px;
        padding-bottom: 30px;
        margin: 10px;
        height: 140px;
        background-color: #7A8269;
        border-radius: 10px;
        font-size: 1.1rem;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 14px;
    }
    section {
        max-width: 500px;
        text-align: left;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    h1 {
        font-size: 5rem;
        margin-top: 100px;
        text-align: center;
    }
    .utensils h1 {
        font-size: 3rem;
    }
    .types h1 {
        font-size: 3rem;
    }

    button.explore {
        width: 100%;
        font-size: 1.6rem;
        padding: 15px;
        margin: auto;
        margin-bottom: 30px;
    }

    li {
        font-size: 14px;
    }
    li img{
        width: 75px;
        height: 75px;
    }

    header a {
        text-decoration: none;
        color: white;
        font-family: "gowun-batang", sans-serif;
        font-weight: 400;
        font-style: normal;
        display: block;
        padding: 10px;}
    
    header button {
        width: 25%;
        font-size: 0.8rem;
        border: 0;
        background-color: transparent;
        transition: 0.25s;
        height: 30px;
    }
    
    header button:hover {
        width: 25%;
        font-size: 1rem;
        border: 0;
        background-color: transparent;
        transition: 0.25s;
        height: 40px;
    }
}