body {
    text-align: center;
    max-width: 1500px;
    margin: auto;
}

button {
    display: inline-block;
    width: 30%;
    text-align: center;
    padding: 10px;
}

button:hover {
    display: inline-block;
    width: 32%;
    text-align: center;
    padding: 10px;
}

h3 {
    margin-bottom: 0px;
}

img {
    width: 100%;
}

h2 {
    margin-bottom: 60px;
}