header {
    margin-bottom: 3rem;
}

p {
    line-height: 1.6;
}

.see-all {
    font-size: 0.8em;
    text-transform: uppercase;
}

ul.shows h1 {
    font-size: 2.5rem;
    font-weight: 100;
}

#game-of-thrones, #unbreakable-kimmy-schmidt {
    border-top: 1px solid black;
}

h2 {
    text-transform: uppercase;
    font-size: 1rem;
}

img {
    width: 100%;
}

section.cast li {
    width: 25%;
}

.selected a {
    color: black;
    font-weight: 700;
}

a div {
    font-size: 0.8rem;
}

a div:first-of-type {
    font-weight: 700;
}

a div:nth-of-type(2) {
    font-style: italic;
}

#game-of-thrones .seasons li:last-of-type::after {
    content: "*";
}

#game-of-thrones .seasons ul::after {
    content: "\a * Final Season";
    white-space: pre;
    font-size: 0.7rem;
    color: #999;
}