body { 
    background-color: rgb(245, 236, 220);    
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: saddlebrown;
    font-size: 16pt;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
    font-style: italic;
}

h3 {
    font-weight: 500;
    font-style: normal;
    text-align: left;
    margin-left: 15%;
}

p {
    font-weight: 400;
    text-align: left;
    margin-left: 20%;
}

.light {font-weight: 300;}
.med {font-weight: 500;}
.bold {font-weight: 700;}

.itl {font-style: italic;}

.narr {letter-spacing: -0.04em;}
.wide {letter-spacing: 0.04em;}

.cap {text-transform: capitalize;}
.lc {text-transform: lowercase;}
.uc {text-transform: uppercase;}

.udl {text-decoration: underline;}
.str {text-decoration: line-through;}
.ovl {text-decoration: overline;}